# 4 ingredients to program in Python

 1. Operators
 2. Objects
 3. Functions
 4. Statements

## Operators

 * Arithmetic: `-, +, /, *`
 * Comparison: `<`, `==`, `>=`
 * Boolean: `and`, `or`, `not`

### Arithmetic Operators

In [1]:
4 + 5

9

In [2]:
3 / 2

1.5

In [156]:
2 ** 3

8

In [157]:
9 * 2

18

### Comparison Operators

In [158]:
3 < 4

True

In [159]:
3 <= 3

True

In [160]:
4 >= 4

True

In [161]:
4 == 2 * 2

True

### Boolean operators

Equivalent to maths' $\cup$ and $\cap$

In [162]:
3 < 2 and 4 > 2

False

In [163]:
5 == 10 / 2 or 5 == 3

True

In [164]:
2 == 3 or 3 > 8 or 3 == 9

False

In [165]:
(8 == 8 and 4 == 2 * 2) or (7 < 4)

True

## Objects and variables

In python a `type` is another word for object.

A **variable** is a name assigned to an object.

 1. Container type: `list, tuple, dict, set`
 2. Data types: `int, float, str`

### Container types

In [166]:
# list
[1, 2, 3, 4]

[1, 2, 3, 4]

In [3]:
seq = [1, 2, 3, 4]

In [4]:
seq

[1, 2, 3, 4]

In [169]:
# Una lista es un objeto indexado
# 0-indexed

seq[1]

2

In [5]:
# Una lista es un objeto mutable

seq[1] = 9

In [6]:
seq

[1, 9, 3, 4]

In [7]:
# Tuple
(1, 2, 3, 4)

(1, 2, 3, 4)

In [173]:
seq = (1, 2, 3, 4)

In [174]:
print(seq)

(1, 2, 3, 4)

In [175]:
# Saber cual es el objeto de la variable
type(seq)

tuple

In [176]:
# También son indexados
seq[1]

2

In [177]:
# No son objetos mutables, son inmutables
# seq[1] = 9

In [178]:
# Dictionary
# Está compuesto de llaves (keys) y valores (values)
# Es equivalente a un mapeo o a un función matemática

seq = {0: "h",
       1: "o",
       2: "l",
       3: "a",
       0: "p"}

In [179]:
seq

{0: 'p', 1: 'o', 2: 'l', 3: 'a'}

In [180]:
seq[2] = "m"

In [181]:
seq

{0: 'p', 1: 'o', 2: 'm', 3: 'a'}

In [182]:
# Un diccionario puede tener objetos inmutables como llaves
seq[(0, 1, 2)] = "j"

In [183]:
seq

{0: 'p', 1: 'o', 2: 'm', 3: 'a', (0, 1, 2): 'j'}

In [184]:
seq[4] = "!"

In [185]:
seq

{0: 'p', 1: 'o', 2: 'm', 3: 'a', (0, 1, 2): 'j', 4: '!'}

In [186]:
# Set
seq = {0, 1, 2, 3, 4}

In [187]:
seq

{0, 1, 2, 3, 4}

In [188]:
seq = {0, 1, 1}

In [189]:
seq

{0, 1}

In [190]:
# seq[0] TypeError: 'set' object is not subscriptable

In [191]:
seq1 = {2, 3}

In [192]:
seq

{0, 1}

In [193]:
# Arithmetic operators work on sets

seq - seq1

{0, 1}

In [194]:
seq & seq1

set()

In [195]:
seq | seq1

{0, 1, 2, 3}

## Functions

 * Built-in functions like `sum` or `print`
 * User-defined functions with keyword statement `def`

In [196]:
print("hello darkness my old friend")

hello darkness my old friend

In [197]:
# def, nombre de la función(argumentos):
# El output de la función está después de "return"
# Dummy variables a, b
# Namespace -> Todas las variables definidas adentro de un contexto

def suma(a, b):
    c = a + b
    
    return c

In [198]:
suma(4, 5)

9

In [199]:
def suma_3(a, b, c):
    d = suma(a, b)
    
    return suma(d, c)

In [200]:
suma_3(1, 4, 6)

11

## Statements

 * Looping: `for`, `while`
 * Conditional: `if`, `else`
 * Catching "bugs": `try`, `except`

In [201]:
# Dummy variable x
for x in [1, 2, 3]:
    print(x)

1
2
3

Very useful with functions

In [202]:
seq = ["h", "o", "l", "a"]
seq[0:2]

['h', 'o']

In [203]:
# Range da un iterador de números enteros entre dos valores dados los argumentos
# 8 excluido
range(1, 8)

range(1, 8)

In [204]:
# range function
for x in range(9):
    print(x)

0
1
2
3
4
5
6
7
8

In [205]:
for x in range(3): print(x)

0
1
2

### (Argumentos de una función en Python)

In [206]:
def ejemplo(a, b, c, o):
    print(o)

In [207]:
# El orden importa!
ejemplo(1, 2, 3, 4)
ejemplo(4, 3, 2, 1)

4
1

In [208]:
# Keyword arguments, siempre tiene un valor pr default
def ejemplo(a,b, arg=6):
    print(arg)

In [209]:
# Los  keyword arguments siempre van después de los arguments normales
ejemplo(9, 8, arg=10)

10

In [210]:
# Pasar un número indefinido de argumentos a una función
# Con el símbolo "*"
def ejemplo(*args):
    print(args)

In [211]:
ejemplo(1, 2, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 6, 7)

In [212]:
suma(9, 8)

17

In [213]:
# Usando mi función "suma" que toma dos argumentos
def suma_todos(*args):
    # args es un tuple, un iterable
    # C empieza con la suma de los primeros dos argumentos
    if len(args) < 2:
        return "Necesitamos al menos dos argumentos"
    c = suma(args[0], args[1])
    
    for arg in args[2:]:
        c = suma(c, arg)
        
    print(c)

In [214]:
suma_todos(1,2,3,4)

10

Example:

Create a function that sums all arguments.

In [215]:
def suma_todos(*args):
    #
    for x in args:
        suma_todos(args)

In [216]:
def suma_todos(*args):
    # "args" is actually a tuple
    
    c = suma(args[0], args[1])
    for x in args[2:]:
        d = suma(c, x)
        c = d
    
    return c

In [217]:
suma_todos(1,2,3,4)

10

### Recursive functions

Fibonacci:
    
$F_0 = 0, F_1 = 1$

$F_n = F_{n-1} + F_{n-2}$

In [221]:
def fibo(n):
    # Compute the n-th Fibonacci number
    if n == 0:
        return 0
    if n == 1:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)

In [224]:
fibo(8)

21

## Bibliography

 * Operators and expressions: https://realpython.com/python-operators-expressions/
 * Containers: https://medium.com/@meghamohan/mutable-and-immutable-side-of-python-c2145cf72747